# Pandas Exercises

Time to test your pandas skills! Use the csv file to complete the tasks in bold below!

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
bankls = pd.read_csv('banklist.csv')

** Show the head of the dataframe **

In [ ]:
# CODE HERE

In [6]:
bankls.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

** What are the column names? **

In [ ]:
# CODE HERE

In [8]:
print(bankls.columns)

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

** How many States (ST) are represented in this data set? **

In [ ]:
# CODE HERE

In [10]:
states_num = bankls['ST'].nunique()
print(states_num)

44

** Get a list or array of all the states in the data set. **

In [ ]:
# CODE HERE

In [12]:
state_ls = bankls['ST'].unique()
print(state_ls)

['IL' 'WI' 'LA' 'UT' 'NJ' 'AR' 'GA' 'PA' 'TN' 'WA' 'CO' 'PR' 'FL' 'MN'
 'CA' 'MD' 'OK' 'OH' 'SC' 'VA' 'ID' 'TX' 'CT' 'AZ' 'NV' 'NC' 'KY' 'MO'
 'KS' 'AL' 'MI' 'IN' 'IA' 'NE' 'MS' 'NM' 'OR' 'NY' 'MA' 'SD' 'WY' 'WV'
 'NH' 'HI']

** What are the top 5 states with the most failed banks? **

In [ ]:
# CODE HERE

In [14]:
failing_banks = bankls['ST'].value_counts().head(5)
print(failing_banks)

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

** What are the top 5 acquiring institutions? **

In [ ]:
# CODE HERE

In [16]:
acquiring_banks = bankls['Acquiring Institution'].value_counts().head(5)
print(acquiring_banks)

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [ ]:
# CODE HERE

In [18]:
banks_of_texas = bankls[bankls['Acquiring Institution'] == 'State Bank of Texas']
acquiring_state_texas = banks_of_texas.shape[0]
texas_acquired = banks_of_texas[banks_of_texas['ST'] == 'TX'].shape[0]
print(texas_acquired)

1

** What is the most common city in California for a bank to fail in?**

In [ ]:
# CODE HERE

In [20]:
ca_banks = bankls[bankls['ST'] == 'CA']
bank_fail_ca = ca_banks['City'].value_counts().idxmax()
print(bank_fail_ca)

Los Angeles

** How many failed banks don't have the word "Bank" in their name? **

In [ ]:
# CODE HERE

In [22]:
no_bank_name = bankls[~bankls['Bank Name'].str.contains("Bank", case=False, na=False)].shape[0]
print(no_bank_name)

10

** How many bank names start with the letter 's' ? **

In [ ]:
# CODE HERE

In [24]:
s_banks = bankls[bankls['Bank Name'].str.startswith('S' , na = False)].shape[0]
print(s_banks)

53

** How many CERT values are above 20000 ? **

In [ ]:
# CODE HERE

In [26]:
cert_values = bankls[bankls['CERT'] > 20000].shape[0]
print(cert_values)

417

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [ ]:
# CODE HERE

In [28]:
two_words = bankls[bankls['Bank Name'].str.split().str.len() == 2].shape[0]
print(two_words)

114

How many banks closed in the year 2008?

In [42]:
# CODE HERE

In [44]:
bankls['Closing Date'] = pd.to_datetime(bankls['Closing Date'], format='%d-%b-%y', dayfirst = True)
closed_in_2008 = bankls[bankls['Closing Date'].dt.year == 2008].shape[0]
print(closed_in_2008)

25

# GREAT JOB!